<html>
    <head>
      <title>{%block title%}{%endblock%} | विज्ञाति</title>
      <meta http-equiv="Content-Type"     content="text/xhtml; charset=utf-8"/>
      <meta http-equiv="content-language" content="en hi" />
      <meta name="robots"                 content="all" />
      <meta name="viewport"               content="width=device-width, height=device-height, initial-scale=1.0"/>
      <meta name="description"            content="cool desc"/>
      
      <meta name="mobile-web-app-capable"                 content="yes"/>
      <meta name="apple-mobile-web-app-capable"           content="yes"/>
      <meta name="application-name"                       content="cool-site"/>
      <meta name="apple-mobile-web-app-title"             content="cool-site"/>
      <meta name="theme-color"                            content="#212121"/>
      <meta name="msapplication-navbutton-color"          content="#212121"/>
      <meta name="apple-mobile-web-app-status-bar-style"  content="black-translucent"/>
      <meta name="msapplication-starturl"                 content="/"/>
      <meta name="viewport"                               content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      
      <link rel="stylesheet"      type="text/css" href="/static/css/bootstrap.min.css" />
      <link rel="stylesheet"      type="text/css" href="/static/css/open-iconic-bootstrap.min.css" />
      <link rel="stylesheet"      type="text/css" href="/static/css/style.css" />
      <link rel="stylesheet"      type="text/css" href="/static/css/index.css" />
      <link rel="icon"            href="/static/images/favicon.ico" />      
      <link rel="apple-touch-icon"          href="/static/images/favicon.ico"/>
      <!-- <link rel="manifest" href="https://athenaeum.digital/pwa/manifest.json"/> -->
      <!-- <script src="https://athenaeum.digital/js/telegram-web-app.js"></script> -->
      <script src="https://athenaeum.digital/js/search.js?v13"  type="module"></script>
      <script src="https://athenaeum.digital/js/app.js?v13"     type="module"></script>
      <script src="https://athenaeum.digital/js/xhttp.js?v13"   type="module"></script>
      <script src="https://athenaeum.digital/js/effects.js?v13" type="module"></script> 
      <script src="https://athenaeum.digital/js/socials.js?v13" type="module"></script> 
      
      
    </head>

    <body>
    
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript" >
         (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
         m[i].l=1*new Date();
         for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
         k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
         (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      
         ym(94124757, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true
         });
      </script> 
      <noscript><div><img src="https://mc.yandex.ru/watch/94124757" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->
      
      <div id="sidebar"></div>

{%block body%}  

{%endblock%}
    </body> 
    </html>