<html>
    <head>
      <title>{%block title%}{%endblock%} | विज्ञाति</title>
      <meta http-equiv="Content-Type"     content="text/html; charset=utf-8"/>
      <meta http-equiv="content-language" content="en hi" />
      <meta name="robots"                 content="all" />
      <meta name="viewport"               content="width=device-width, height=device-height, initial-scale=1.0"/>
      <meta name="description"            content="cool desc"/>      
      <meta name="mobile-web-app-capable"                 content="yes"/>
      <meta name="apple-mobile-web-app-capable"           content="yes"/>
      <meta name="application-name"                       content="cool-site"/>
      <meta name="apple-mobile-web-app-title"             content="cool-site"/>
      <meta name="theme-color"                            content="#212121"/>
      <meta name="msapplication-navbutton-color"          content="#212121"/>
      <meta name="apple-mobile-web-app-status-bar-style"  content="black-translucent"/>
      <meta name="msapplication-starturl"                 content="/"/>
      <meta name="viewport"                               content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      <link rel="stylesheet"      type="text/css" href="/static/css/style.css" />
      <link rel="icon"            href="/static/images/favicon.ico" />      
      <link rel="apple-touch-icon"          href="/static/images/favicon.ico"/>
    </head>

    <body>
      <div id="sidebar"></div>

{%block body%}  

{%endblock%}
    </body> 
    </html>