{% extends 'base.html' %}
{%block title%}home{%endblock%}

{%block body %}
<div id="content" class="content-center">
    <div class="row mainrow"> 
      <div class="col-md-5 order-first order-md-2 serach-container">    
        <div class="mainblock contentbox" id="mainblock">
          
          <h1>विज्ञाति. (vijnati)</h1>
          <br/>
          <div class="searchfield">
            <input type="text" id="search-input" class="searchinput form-control" onfocus="if (this.value==this.defaultValue) this.value = ''" onblur="if (this.value=='') this.value = this.defaultValue" value="search..." />
            <div id="search-results" class="list-group variants"></div>
          </div>
          <br/>

          <div id="copymi">
            <p><a href="/about">About</a></p>
            <small>ABOUT US LOL.</small>
            <br/><br/>
          </div>
          
        </div>   
      </div>   
      

   
  <div class="col-md-6">   
    <div class="row align-items-start books-grid">
      <div class="col col-sm-6 col-md-4 last-book">
        <p>poco loco</p>
      </div>
      <div class="col col-sm-6 col-md-4 last-book">

      </div>
      <div class="col col-sm-6 col-md-4 last-book">
      
      </div>
      
      
      <div class="col col-sm-6 col-md-4 last-book">

      </div>
      <div class="col col-sm-6 col-md-4 last-book">

      </div>
      <div class="col col-sm-6 col-md-4 last-book">
      
      </div>
    </div>
    </div>
    
    </div>
  </div>
{%endblock%}